<div class="col-md-4 col-sm-12 mb-2">
    <div class="card border-dark">

        <!--Ime kartice-->
        <div class="card-header bg-dark text-white">
            <div class="row justify-content-center">
                <div class="col text-center">
                    {{user.name}} {{user.surname}}
                </div>
            </div>
        </div>

        <!--Tle se začne nav menu-->
        <div class="card-body px-0 py-0">
            <nav class="sidebar">

                <!-- tle je slika -->
                <div class="row">
                    {{#if image}}
                        <img class="img-fluid profil m-2 mx-auto" width="200" height="40" alt="Profilna slika" src="/image/{{slika}}">
                    {{else}}
                        <img class="img-fluid profil m-2 mx-auto" width="200" height="40" alt="Image not found" src="/slike/defualtProfile.jpg">
                    {{/if}}
                </div>

                <!--opis igralca al neki ?-->
                <div class="row justify-content-center">
                    <div class="col text-center">
                        Amaterski igralec
                    </div>
                </div>

                <!-- Tle bi lahko dali kake achievmente ? -->
                <div class="row justify-content-center">
                    <div class="col text-center">
                        {{{ ocenaIgralca user.ocena }}}
                    </div>
                </div>

                <!--število zvezdic-->
                <div class="row justify-content-center mb-1">
                    {{{zvezdica user.ocena }}}
                </div>

                <!--Tle so opcije za sprehod po menuju-->
                <div class="row justify-content-center mb-1">
                    <div class="col text-center">
                        <ul class="list-unstyled nav-list">
                            <li class="list_item {{#if profil}} active {{/if}}" onclick="window.location.href='profil'">
                                <i class="fas fa-user"></i><span class="list-text"> Moj profil</span>
                            </li>

                            <li class="list_item {{#if moje_tekme}} active {{/if}}" onclick="window.location.href='moje_tekme'">
                                <i class="fas fa-history"></i><span class="list-text"> moje_tekme</span>
                            </li>

                            <li class="list_item {{#if nastavitve}} active {{/if}}" onclick="window.location.href='nastavitve'">
                                <i class="fas fa-cog"></i><span class="list-text"> Nastavitve</span>
                            </li>

                            <li class="list_item noactive" onclick="window.location.href='/logout'">
                                <i class="fas fa-sign-out-alt"></i><span class="list-text"> Odjava</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>