
{{>header this}}


<!-- link do leaflet cssja in skripte | NE MENJAT VRSTNEGA REDA !!! -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

<!-- vsebina kontejner ki ni header -->
<div class="container-lg" style="height:100%;">

    <div class="row" style="height:100%;">

        <div class="col-sm-8" style="height:100%">

            <div class="card border-dark" style="height:100%" >
                <div class="card-header bg-dark text-white">Zemljevid tekem</div>
                <div class="card-body px-0 py-0">

                    <!--iframe style="width:100%; height:100%;" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d48666.20422273859!2d14.511775487167021!3d46.048551539631106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ssl!2ssi!4v1603462133152!5m2!1ssl!2ssi" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe-->
                    <div id="mapa_homepage_div" style="height:100%; width:100%;"> </div>


                </div>

            </div>

        </div>

        <div class="col-sm-4 " style="height:100%;">

            <div class="row" style=" height:90%;">
                <div class="card  border-dark" style="width:100%; height:100%;" >
                    <div class="card-header bg-dark text-white">Seznam tekem</div>
                    <div class="card-body px-1 py-1" style="height:100%;">

                        <!-- zavijem da je kartica skrollable in se ne preliva cez -->
                        <div class="scrollable" style="height:100%; overflow-y: auto;">


                            <!-- seznam vseh iger za test samo 9 x iger dodanih -->
                            <ul class="list-group" style="width:100%; height:100%;">

                                <script>
                                    //nastavi tabele izven each zanke
                                    var tabelaMarkerjev = [];
                                    var tabelaIDjev = [];
                                </script>


                                {{#each tekma}}
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <a class="text-dark" href="/pop_up_tekma/{{this._id}}"> {{this.kraj}},<br>{{this.datum}} | {{this.ura}} </a>
                                        <span class="badge badge-primary badge-pill">{{this.prijavljeni}}/{{this.maxIgralcev}}</span>
                                    </li>
                                    <script>
                                        //zapolni tabele ki jih potem rabim v homepagemapaskripta.js
                                        var trenutniID = "{{this._id}}";
                                        tabelaIDjev.push(trenutniID);

                                        var trenutniLAT = "{{this.lat}}";
                                        var trenutniLNG = "{{this.lng}}";

                                        trenutniLAT = parseFloat(trenutniLAT);
                                        trenutniLNG = parseFloat(trenutniLNG);
                                        //console.log(typeof(trenutniLAT));
                                        var zaDodat = [trenutniLAT, trenutniLNG];
                                        tabelaMarkerjev.push(zaDodat);


                                    </script>

                                {{/each}}

                            </ul>

                        </div>

                    </div>
                </div>

            </div>

            <div class="row py-2 px-2" style="height:10%;">
                <!-- gumb za ustvaritev nove igre -->
                <button type="button" onclick="location.href='/ustvari_tekmo'" class="btn btn-primary " id="gumbNovaIgra"><i class="fas fa-plus mr-2"></i>Ustvari novo tekmo</button>
            </div>


        </div>


    </div>

</div>

<!-- link do javascript kode | NE MENJAT VRSTNEGA REDA !!! -->
<script src="js/HomepageMapaSkripta.js"></script>

