
{{> header this}}
<div class="container-lg h-100">

    <div class="row">
        <!--prva kartica-->
        {{> profilNav this}}

        <!--Druga kartica-->
        <div class="col-md-8 col-sm-12">
            <div class="card  border-dark">

                <!--Ime kartice-->
                <div class="card-header bg-dark text-white ">Moje tekme</div>


                <!--Tle se zaÄnejo podatki-->
                <div class="card-body px-1 py-1">

                    <!-- zavijem da je kartica skrollable in se ne preliva cez -->
                    <div class="scrollable" style="overflow-y: auto;">


                        <!-- seznam vseh iger -->
                        <ul class="list-group">
                            {{#each tekme}}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <a class="text-dark" href="/pop_up_tekma/{{this._id}}"> {{this.kraj}},<br>{{this.datum}} | {{this.ura}} </a>
                                    <span class="badge  badge-pill">{{this.prijavljeni}}/{{this.maxIgralcev}}</span>
                                </li>
                            {{/each}}


                        </ul>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
