{{>header this}}

<!-- link do leaflet cssja in skripte | NE MENJAT VRSTNEGA REDA !!! -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

<script>




</script>

<!-- okno - okno se vstavi po navbar-ju direktno v body in pred tistim kontejnerjem za vsebino -->
<div class="container-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="card border-dark" >

        <div class="card-header bg-dark text-white">
            <h5 class="modal-title text-white" id="exampleModalLongTitle">Tekma</h5>
        </div>
        <div class="card-body px-0 py-0">

            <!-- dodam fluid kontainer za vsebino in tiste vrstice in stolpce -->
            <div class="container-fluid">
                <div class="row pt-2 pl-2" >

                    <!-- prvi stolpec - zemljevid + vreme -->
                    <div class="col-lg-4 col-md-12 col-sm-12 mb-3 mb-md-2" style="min-height:450px;">

                        <!-- majhen zemljevid -->
                        <div class="row  mb-2 mb-md-1 border border-dark rounded" style="height:60%;">
                            <!--iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d31325.282550843705!2d14.522774429847034!3d46.055292090769285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ssl!2ssi!4v1603358504069!5m2!1ssl!2ssi" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe-->
                            <div id="mapa_popup_div" style="height:100%; width:100%;"> </div>

                        </div>

                        <!-- vreme -->
                        <div  class="row mb-3" style="overflow: hidden; height:40%;">
                            <div class="h-100 w-100 border border-dark rounded" style="text-align: center; overflow: hidden; ">
                                <!--iframe src="https://vreme.arso.gov.si/widget/?width=260px&loc={{pridobiMesto tekma.kraj}}" style="border:0; height: 185px; width: 260px;"></iframe-->
                                <!--iframe src="http://www.weather-mikimuster.com/builder/index.html#/widgets/37.577475/22.130864/kraj/si/c/vertical/3/337abf/250" frameborder="0" scrolling="no" width="250px" height="395px"></iframe-->

                                </br>
                                <h1 class="display-4 text-center"><i class="fas fa-thermometer-quarter"></i> <strong>{{vreme.main.temp }}°C</strong></h1>
                                <h5 class="text-center"><i class="fas fa-wind"></i> {{ vreme.wind.speed}} m/s</h5>
                            <h5 class="text-center">{{#each vreme.weather}}<img src="http://openweathermap.org/img/wn/{{this.icon}}.png">{{this.description}}{{/each}}</h5>


                            </div>
                        </div>

                    </div>


                    <!-- drugi stolpec - podatki o tekmi -->
                    <div class="col-lg-4 col-md-12 col-sm-12 mb-1">
                        <div class="card  border-dark">

                            <!--Ime kartice-->
                            <div class="card-header bg-dark text-white">
                                <div class="row justify-content-center">
                                    <div class="col text-center">
                                        Informacije o tekmi
                                    </div>
                                </div>
                            </div>
                            <div class="card-body px-1 py-1">

                                <!--Podatki o tekmi style "info" je za odebeljene črke-->
                                {{#if urejamo}}
                                <form method="post" name="ustvari" onsubmit="return validacijaTekmaUra()">
                                {{/if}}
                                <div class="row m-2 info">
                                    <div class="col">
                                        Tekmo je ustvaril:
                                    </div>
                                </div>

                                <div class="row m-2 border-bottom pb-2">
                                    <div class="col">
                                        <a class="text-dark" href="/profil_ostali/{{kreator._id}}">{{kreator.name}} {{kreator.surname}}</a>
                                    </div>
                                </div>

                                <div class="row m-2 info">
                                    <div class="col">
                                        Lokacija:
                                    </div>
                                </div>

                                <div class="row m-2 border-bottom pb-2">
                                    <div class="col">
                                        {{tekma.kraj}}
                                    </div>
                                </div>

                                <div class="row m-2 info">
                                    <div class="col">
                                        Datum in ura:
                                    </div>
                                </div>

                                <div class="row m-2 border-bottom pb-2">
                                    {{#if urejamo}}
                                        <div class="col">
                                            <input type="date" class="form-control" name="datum" value="{{tekma.datum}}" required>
                                            <input type="time" class="form-control" name="ura" value="{{tekma.ura}}" required>
                                        </div>
                                    {{else}}
                                        <div class="col">
                                            {{tekma.datum}} | {{tekma.ura}}
                                        </div>
                                    {{/if}}
                                </div>

                                <div class="row m-2 info">
                                    <div class="col">
                                        Število do sedaj prijavljenih igralcev:
                                    </div>
                                </div>

                                <div class="row m-2 info border-bottom pb-2">
                                    <div class="col">
                                        <span class="badge badge-primary badge-pill">{{tekma.prijavljeni}}/{{tekma.maxIgralcev}}</span>
                                    </div>
                                </div>

                                <div class="row m-2 info">
                                    <div class="col">
                                        Opombe:
                                    </div>
                                </div>

                                <div class="row m-2 border-bottom pb-2">
                                    {{#if urejamo}}
                                        <div class="col">
                                            <textarea name="komentarji" class="form-control" rows="4" cols="36"  placeholder="Vnesite dodatne opombe">{{tekma.opis}}</textarea>
                                        </div>
                                    {{else}}
                                        <div class="col">
                                            {{tekma.opis}}
                                        </div>
                                    {{/if}}
                                </div>
                                {{#if urejamo}}
                                        <div id="obvestilo" style="visibility: hidden" class="alert alert-danger">

                                        </div>
                                    <div class="row m-2 border-bottom pb-2" style="text-align:center">
                                        <div class="col">
                                            <input type="submit" class="btn btn-primary" value="Shrani">
                                            <a href="/pop_up_tekma/{{tekma._id}}" class="btn btn-danger">Prekliči</a>
                                        </div>
                                    </div>
                                </form>
                                {{/if}}
                            </div>
                        </div>
                    </div>

                    <!-- tretji stolpec - igralci na tekmi + ocene -->
                    <div class="col-lg-4 col-md-12 col-sm-12 mb-1">
                        <div class="card  border-dark">
                            <!--Ime kartice-->
                            <div class="card-header bg-dark text-white">
                                <div class="row justify-content-center">
                                    <div class="col text-center">
                                        Igralci
                                    </div>
                                </div>
                            </div>
                            <div class="card-body px-1 py-1">
                                <div class="scrollable" style="height:100%; overflow-y: auto;">
                                    <ul class="list-group seznam" style="height: 50vh; width:100%; min-height: 300px">
                                        {{#unless ocenjamo}}
                                            {{#each sodelujoci}}
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    <a class="col-sm text-dark" href="/profil_ostali/{{this.id}}">{{this.name}} {{this.surname}}</a>
                                                    {{{zvezdica this.rating}}}
                                                </li>
                                            {{/each}}
                                        {{else}}
                                        <form method="post">
                                            {{#each sodelujoci}}
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    <a class="col-sm text-dark" href="/profil_ostali">{{this.name}} {{this.surname}}</a>
                                                    <select name="ocena" class="">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option selected>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                </li>
                                            {{/each}}
                                        {{/unless}}
                                    </ul>
                                    {{#unless ocenjamo}}
                                        {{#if lahkoOcenjamo}}
                                            <div class="modal-footer">
                                                <a href="/pop_up_tekma/{{tekma._id}}/oceni">
                                                    <button class="btn btn-primary"><i class="fa fa-star checked"></i> Oceni</button>
                                                </a>
                                            </div>
                                        {{/if}}
                                    {{else}}
                                        <div class="modal-footer">
                                            <input type="submit" class="btn btn-primary footer" value="Oceni">
                                            <a href="/pop_up_tekma/{{tekma._id}}" class="btn btn-danger">Prekliči</a>
                                        </div>
                                        </form>
                                    {{/unless}}
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
        <div class="modal-footer ">
            {{#if lahkoUrejamo}}
            <a href="/pop_up_tekma/{{tekma._id}}/izbris">
                <button type="button" class="btn btn-secondary "><i class="fas fa-trash-alt"></i> Izbriši</button>
            </a>
            <a href="/pop_up_tekma/{{tekma._id}}/uredi">
                <button type="button" class="btn btn-secondary"><i class="fas fa-edit"></i> Uredi</button>
            </a>
            {{/if}}
            {{#if lahkoUrejamo}}
            {{#if pridruzen}}
                <a href="/pop_up_tekma/{{tekma._id}}/odjavi">
                    <button type="button" class="btn btn-danger"><i class="fas fa-sign-out-alt"></i> Odjavi se</button>
                </a>
            {{else}}
                <a href="/pop_up_tekma/{{tekma._id}}/pridruzi">
                    <button type="button" class="btn btn-primary "><i class="fas fa-sign-in-alt"></i> Pridruži se</button>
                </a>
            {{/if}}
            {{/if}}
        </div>

    </div>
</div>

<!-- link do javascript kode | NE MENJAT VRSTNEGA REDA !!! -->
<script>
    var markerLAT = "{{tekma.lat}}";
    var markerLNG = "{{tekma.lng}}";
</script>
<script src="/js/PopUpSkripta.js"> </script>